html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GRID */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* CLEARFIX */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}

/* STARTS HERE */

body {
  font-family: arial, sans-serif;
  background: #173152;
}

header {
  width: 600px;
  height: 120px;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
  color: #FFFFFF;
}

header h1 {
  font-size: 2em;
  padding: 5px;
}

#movietitle {
  display: block;
  float: left;
  height: 45px;
  width: 420px;
  margin: 7px;
}

#search {
  display: block;
  float: right;
  height: 45px;
  width: 120px;
  margin: 7px;
  font-size: 1.5em;
}

#content {
  width: 640px;
  margin: 0 auto;
}

.movie {
  border: 1px solid #8895A6;
  text-align: center;
  color: #FFFFFF;
  background:rgba(255,255,255,0.2);
}

.movie h2 {
  font-size: 1.6em;
  text-transform: uppercase;
  padding: 10px 0;
}

.movie img {
  width: 250px;
  height: 360px;
  float: left;
  padding: 15px;
}

.movie .field {
  font-size: 1.3em; 
  text-align: left; 
  padding: 8px 0;
  color: #0A0A3C;
}

.movie .field span {
  color: #FFFFFF;
  font-size: 0.9em;
}

.loading {
  color: white;
  padding: 10px 0;
  font-size: 1.5em;
  text-align: center;
  display: none;
}

.loading img {
  width: 25px;
}

p {
  color: rgb(255, 255, 255);
  font-size: 2em;
  text-align: center;
  padding-top: 45px;
}
